@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}

:root {
  --lightGray: hsl(0, 0%, 60%);
  --darkGray: hsl(0, 0%, 30%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: min(90%, 500px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: black;
  padding: 2em;
  padding-top: 4em;
  border-radius: 10px;

  button {
    background-color: var(--darkGray);
    color: white;
    border: none;
    border-radius: 100vmax;
    font-size: 2rem;
    transition: background-color 200ms ease-in, transform 200ms ease-in;
    aspect-ratio: 1;

    &:hover {
      cursor: pointer;
      background-color: hsl(0, 0%, 45%);
      transform: translateY(-4px);
    }
  }

  .orangeNum {
    background-color: orange;

    &:hover {
      background-color: hsl(30, 100%, 75%);
    }
  }

  #zero {
    grid-column: span 2;
    aspect-ratio: 2.5 / 1;
    align-self: center;
  }

  #clear {
    background-color: var(--lightGray);
    color: black;

    &:hover {
      background-color: hsl(0, 0%, 70%);
    }
  }

  #plusminus,
  #percentage {
    @extend #clear;
  }

  #resultsBar {
    grid-column: span 4;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    font-size: 3rem;

    p {
      margin-right: 4vw;
    }
  }

  #equals {
    background-color: orange;

    &:hover {
      background-color: hsl(35, 100%, 75%);
    }
  }
}
